* {
    font-family: 'Londrina Solid', cursive;
}

.btn-jogar {
    width: 200px;
    height: 50px;
    background: #ff7471;
    color: #FFFFFF;
    font-size: 18px;
    cursor:pointer;
    border-radius: 80px;
    border: 0;
    transition: 0.2s ease-in-out all;
}

.btn-jogar:hover {
    background: #ffde39;
    color: #ff7471;
}

.btn-voltar {
    width: 100px;
    height: 30px;
    background: #ff7471;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 80px;
    border: 0;
    transition: 0.2s ease-in-out all;
}
  
.btn-voltar:hover {
    background: #ffde39;
    color: #ff7471;
}


.btn-fase1 {
    width: 61px;
    height: 61px;
    background: #ff7471;
    color: #ffde39;
    font-size: 40px;
    cursor: pointer;
    border-radius: 80px;
    border: 0;
    transition: 0.2s ease-in-out all;
}
  
.btn-fase1:hover {
    background: #ffde39;
    color: #ff7471;
}


