* {
    font-family: 'Londrina Solid', cursive;
}

.btn {
    background: #ff7471;
    color: #FFFFFF;
    cursor:pointer;
    border-radius: 80px;
    border: 1;
    border-color: #ff7471;
    transition: 0.2s ease-in-out all;
}

.btn[disabled] {
    cursor: no-drop;
    background: #bd5957;
    color: #7A4AB4;
}

.btn[disabled]:hover {
    background: #bd5957;
    color: #7A4AB4;
    border-color: #bd5957;
}

.btn-jogar {
    width: 200px;
    height: 50px;
    font-size: 18px;
}

.btn-jogar:hover {
    background: #ffde39;
    color: #ff7471;
    border-color: #ffde39;
}

.btn-voltar {
    width: 100px;
    height: 32px;
    font-size: 15px;
}
  
.btn-voltar:hover {
    background: #ffde39;
    color: #ff7471;
    border-color: #ffde39;
}

.btn-fase1 {
    width: 61px;
    height: 61px;
    color: #ffde39;
    font-size: 40px;
}
  
.btn-fase1:hover {
    background: #ffde39;
    color: #ff7471;
    border-color: #ffde39;
}

.btn-fase2 {
    width: 61px;
    height: 61px;
    background: #bd5957;
    color: #7A4AB4;
    font-size: 40px;
}
  
.btn-fase2:hover {
    background: #7A4AB4;
    color: #bd5957;
    border-color:#bd5957;
}

.btn-letra {
    width: 61px;
    height: 61px;
    background: #7A4AB4;
    color: #ffde39;
    font-size: 40px;
}

.btn-letra:hover {
    background: #ffde39;
    color: #bd5957;
    border-color:#ffde39;
}

.btn-letra:focus {
    background: #ffde39;
    color: #bd5957;
    border-color:#ffde39;
}

.btn-frida {
    background: url('../img/fridaB.png') no-repeat;
    cursor:pointer;
    width: 64px;
    height: 64px;
    border: none;
}

.btn-salvador {
    background: url('../img/salvador.png') no-repeat;
    cursor:pointer;
    width: 64px;
    height: 64px;
    border: none;
}

.btn-frida[disabled] {
    background: url('../img/fridaB.png') no-repeat;
    cursor: no-drop;
}

.btn-frida[disabled]:hover {
    background: url('../img/fridaB.png') no-repeat;
    border-color: unset;
}

.btn-salvador[disabled] {
    background: url('../img/salvador.png') no-repeat;
    cursor: no-drop;
}

.btn-salvador[disabled]:hover {
    background: url('../img/salvador.png') no-repeat;
    border-color: unset;
}